


<div class="sspan6 offset3 text-center boxy">

	<h1 class="custom-pic-header">Hi I'm Matt!!</h1>

	<p>I am learning ruby rails! It is painfully slow!</p>

	<%= link_to('Check it out',pics_path, :class=> 'btn btn-primary btn_large')%>
</div>
