


<div class="span6 boxy">

	<h1 class="custom-font">Hi I'm Matt!!</h1>

	<p>I am learning ruby rails! It is painfully slow!</p>

	<%= link_to('Check it out','#' , :class=> 'btn btn-success btn_large')%>
</div>
